// FUNÇÕES E VARIAVES //
// Reseta autura de um box que contem elementos flutuantes
.clear-box-float {&:after { content: " "; display: block; height: 0; clear: both; font-size: 0; visibility: hidden; }}


// Configuração do topo
header {

    // Configuração do grupo do meu
    nav {
        display: block;

        // Botão do menu
        .btn-menu {
            padding: 10px;
            display: inline-block;
            background-color: #A8A8A8;
            cursor: pointer;
            // position: absolute;

            // icone do botão
            .icon-bar{
                width: 50px;
                margin: 8px 0;
                border: 5px solid #EBEBEB;
                border-radius: 3px;
                display: block;
                &:first-child{margin-top: 0px}
                &:last-child{margin-bottom: 0px}
            }
            .glyphicon{display: none;}
        }

        // Menu principal
        .menu-principal{
            width: 30%;
            min-width: 300px;
            padding: 20px;
            margin: 10% auto;
            background-color: #EBEBEB;
            display: none;

            // Lista do menu
            li{
                border-bottom: 1px solid #b8b8b8;
                &:last-child, &:last-child:hover{border-bottom: none;}
                &:hover{border-bottom: 1px solid #b8b8b8;}

                a{
                    text-transform: uppercase;
                    text-align: center;
                    color: black;
                    font-size: 30px;
                    padding: 13px 0px;

                    .indicador{
                        font-size: 0.5em;
                        display: block;
                        text-transform: initial;
                    }
                }
            }
        }

        //  Exibiçao do menu
        &.modal-show{
            border:1px solid #000;
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            z-index: 1;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.85);
            .btn-menu{
                position: relative;
                left: 11%;
                top: 11px;
                margin: 0 auto;
                background-color: #EBEBEB;

                .icon-bar{display: none;}
                .glyphicon{
                    font-size: 50px;
                    display: inline-block;
                    color: #A8A8A8;
                }

            }
            .menu-principal{ display: block;}
        }

    }
}

// Configuração do topo
// header{

//     // Configuração do grupo do meu
//     nav{
//         // Botão do menu
//         .btn-menu{
//             border: 1px solid red;
//             padding: 10px;
//             display: inline-block;

//             icon-bar.{
// background-color: rgb(204, 204, 204);
// border-bottom-left-radius: 1px;
// border-bottom-right-radius: 1px;
// border-top-left-radius: 1px;
// border-top-right-radius: 1px;
// box-sizing: border-box;
// color: rgb(0, 0, 0);
// cursor: pointer;
// display: block;
// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// font-size: 14px;
// height: 2px;
// letter-spacing: normal;
// line-height: 20px;
// margin-top: 4px;
// text-align: center;
// text-indent: 0px;
// text-shadow: none;
// text-transform: none;
// width: 22px;
// word-spacing: 0px;
//             }

//         }
//     }
// }



// Configura datapicker mês

// tabela de datas
.datepicker-days{

    // tabela <table>
    .table-condensed{
        min-width: 100%;
        display: block;

        // Dia da semana, mês e ano
        thead{
            display: block;

            // navegação mês
            tr:first-child{ display:none; border:1px solid red}

            // coluna de nome da semana
            tr{
                .clear-box-float();
                width: 100%;
                display: block;

                // nomes dos dias da semana
                th{
                    width: 14.28%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        //Dia do mes
        tbody{
            display: block;
            .clear-box-float();

            // Linha da semana
            tr{
                .clear-box-float();
                width: 100%;
                display: none;

                // Dia da semana
                td{
                    width: 14.28%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                }
            }
        }

    }

}
