// FUNÇÕES E VARIAVES //
// Reseta autura de um box que contem elementos flutuantes
.clear-box-float {&:after { content: " "; display: block; height: 0; clear: both; font-size: 0; visibility: hidden; }}



// Configura datapicker mês

// tabela de datas
.datepicker-days{

    // tabela <table>
    .table-condensed{
        min-width: 100%;
        display: block;

        // Dia da semana, mês e ano
        thead{
            display: block;

            // navegação mês
            tr:first-child{ display:none; border:1px solid red}

            // coluna de nome da semana
            tr{
                .clear-box-float();
                width: 100%;
                display: block;

                // nomes dos dias da semana
                th{
                    width: 14.28%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        //Dia do mes
        tbody{
            display: block;
            .clear-box-float();

            // Linha da semana
            tr{
                .clear-box-float();
                width: 100%;
                display: none;

                // Dia da semana
                td{
                    width: 14.28%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                }
            }
        }

    }

}
