// FUNÇÕES E VARIAVES //
// Reseta autura de um box que contem elementos flutuantes
.clear-box-float {&:after { content: " "; display: block; height: 0; clear: both; font-size: 0; visibility: hidden; }}


// Configuração do topo
header {

    // Configuração do grupo do meu
    nav {

        // Botão do menu
        .btn-menu {
            border: 1px solid red;
            padding: 10px;
            display: inline-block;

            .icon-bar{
                width: 30px;
                display: block;
                border: 1px solid red;
                margin: 5px 0;                
            }
        }
    }
}

// Configuração do topo
// header{

//     // Configuração do grupo do meu
//     nav{
//         // Botão do menu
//         .btn-menu{
//             border: 1px solid red;
//             padding: 10px;
//             display: inline-block;

//             icon-bar.{
// background-color: rgb(204, 204, 204);
// border-bottom-left-radius: 1px;
// border-bottom-right-radius: 1px;
// border-top-left-radius: 1px;
// border-top-right-radius: 1px;
// box-sizing: border-box;
// color: rgb(0, 0, 0);
// cursor: pointer;
// display: block;
// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// font-size: 14px;
// height: 2px;
// letter-spacing: normal;
// line-height: 20px;
// margin-top: 4px;
// text-align: center;
// text-indent: 0px;
// text-shadow: none;
// text-transform: none;
// width: 22px;
// word-spacing: 0px;
//             }

//         }
//     }
// }



// Configura datapicker mês

// tabela de datas
.datepicker-days{

    // tabela <table>
    .table-condensed{
        min-width: 100%;
        display: block;

        // Dia da semana, mês e ano
        thead{
            display: block;

            // navegação mês
            tr:first-child{ display:none; border:1px solid red}

            // coluna de nome da semana
            tr{
                .clear-box-float();
                width: 100%;
                display: block;

                // nomes dos dias da semana
                th{
                    width: 14.28%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        //Dia do mes
        tbody{
            display: block;
            .clear-box-float();

            // Linha da semana
            tr{
                .clear-box-float();
                width: 100%;
                display: none;

                // Dia da semana
                td{
                    width: 14.28%;
                    float: left;
                    display: inline-block;
                    text-align: center;
                }
            }
        }

    }

}
